---
layout: home
---

  <section class="writing" id="writing">

    <div class="wrap">

      <div class="wide-left-margin">

        <h2>Writing</h2>

        <nav class="article-nav group">
          <a id="articlesAllTrigger" href="#" class="year showing">All</a>
          <a id="articles2014Trigger" href="#" class="year">2014</a>
          <a id="articles2013Trigger" href="#" class="year">2013</a>
          <a id="articles2012Trigger" href="#" class="year">2012</a>
          <a id="articles2011Trigger" href="#" class="year">2011</a>
        </nav>

        <div id="articles2014" class="articles show">
          <ul class="article-index list-2014">
            {% for post in site.posts %}
              {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
              {% if year == "2014" %}
                <li class="{% cycle 'even', 'odd' %}">
                  <a href="{{ post.url }}">
                    <span class="article-date">{{ post.date | date: "%-m/%-d/%Y" }}</span>
                    <span class="article-title">{{ post.title }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div id="articles2013" class="articles show">
          <ul class="article-index list-2013">
            {% for post in site.posts %}
              {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
              {% if year == "2013" %}
                <li class="{% cycle 'even', 'odd' %}">
                  <a href="{{ post.url }}">
                    <span class="article-date">{{ post.date | date: "%-m/%-d/%Y" }}</span>
                    <span class="article-title">{{ post.title }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div id="articles2012" class="articles show">
          <ul class="article-index list-2012">
            {% for post in site.posts %}
              {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
              {% if year == "2012" %}
                <li class="{% cycle 'even', 'odd' %}">
                  <a href="{{ post.url }}">
                    <span class="article-date">{{ post.date | date: "%-m/%-d/%Y" }}</span>
                    <span class="article-title">{{ post.title }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div id="articles2011" class="articles show">
          <ul class="article-index list-2011">
            {% for post in site.posts %}
              {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
              {% if year == "2011" %}
                <li class="{% cycle 'even', 'odd' %}">
                  <a href="{{ post.url }}">
                    <span class="article-date">{{ post.date | date: "%-m/%-d/%Y" }}</span>
                    <span class="article-title">{{ post.title }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        {% include categories.html %}

        <h2 class="other-writing">My Writing Elsewhere</h2>

        <ul class="article-index">

          <li>
            <a href="http://appendto.com/blog/2013/03/pure-css-triangles-explained/" target="_blank">
              <span class="article-date">3/27/2013</span>
              <span class="article-title">Pure CSS Triangles Explained</span>
              <span class="article-source">appendto.com/blog</span>
            </a>
          </li>

          <li>
            <a href="http://www.slidedeck.com/blog/how-cure-org-increased-website-workflow-and-engagement-with-slidedeck/" target="_blank">
              <span class="article-date">4/26/2011</span>
              <span class="article-title">How a Non-Profit Increased User Engagement with Facebook API and CSS3</span>
              <span class="article-source">http://www.slidedeck.com/blog</span>
            </a>
          </li>

        </ul>

      </div>

    </div>

  </section>
