<section id="elsewhere" class="elsewhere">

  <p class="col-1">find<br /> me at</p>

    <ul id="footer-social-links">
      <li class="external-social-link fl-twitter">
        <a class="soc-fl" href="http://twitter.com/jglovier" target="_blank">Twitter</a>
      </li>

      <li class="external-social-link fl-dribbble">
        <a class="soc-fl" href="http://dribbble.com/jag" target="_blank">Dribbble</a>
      </li>

      <li class="external-social-link fl-behance">
        <a class="soc-fl" href="http://behance.net/jag" target="_blank">Behance</a>
      </li>

      <li class="external-social-link fl-linkedin">
        <a class="soc-fl" href="http://www.linkedin.com/in/joelglovier" target="_blank">LinkedIn</a>
      </li>

      <li class="external-social-link fl-vimeo">
        <a class="soc-fl" href="http://vimeo.com/jglovier" target="_blank">Vimeo</a>
      </li>

      <li class="external-social-link fl-lastfm">
        <a class="soc-fl" href="http://www.last.fm/user/jglovier" target="_blank">Last.fm</a>
      </li>

      <li class="external-social-link fl-stack-overflow">
        <a class="soc-fl" href="http://stackoverflow.com/users/185973/jag2007" target="_blank">Stack Overflow</a>
      </li>

      <li class="external-social-link fl-cure">
        <a class="soc-fl" href="http://cure.org/blog/author/joel-glovier/" target="_blank">CURE International</a>
      </li>

      <li class="external-social-link fl-envato">
        <a class="soc-fl" href="http://graphicriver.net/user/jglovier?ref=jglovier" target="_blank">Envato</a>
      </li>

    </ul>

</section>