<footer class="page-footer py4 mt4">
  <div class="full-width-wrap">

      <p class="my2">
        Site content ©{{ site.time | date: "%Y" }} Joel Andrew Glovier. All rights reserved. <br>
        Site design and code are public and open source <a href="https://github.com/jglovier/jglovier.github.io" target="_blank">on GitHub</a>.
      </p>

      <p>
        Feel free to fork, customize, and make it your own personal site! <br>(Attribution is appreciated)
      </p>

      <p>
        Think something could be better on this site?<br> <a href="https://github.com/jglovier/jglovier.github.io/issues/new" target="_blank">Open an issue</a> and share your feedback! &#128591;
      </p>

      <p>
        <a href="#">Read about the process</a> behind the current site design.<br>
        See the <a href="https://github.com/jglovier/jglovier.github.io/pull/70" target="_blank">pull request</a>.
      </p>

      <p>
        <a
          href="/colophon"
          class="regular">Colophon</a>
      </p>

      <p class="my2">
        Hi, Recruiter! &#128075; <br />
        Let me save you an email: <br />
        I am not seeking employment at this time. <br />
        Thanks! &#128583;
      </p>

<!-- don't have all this setup yet
      <p class="mt2">
        Stuff I sell online:
        <a
          href="http://devtees.com"
          class="regular">Dev Tees</a>
        &bull;
        <a
          href="#"
          class="regular">Icons</a>
        &bull;
        <a
          href="#"
          class="regular">Art</a>
        &bull;
        <a
          href="#"
          class="regular">Apps</a>
      </p>
-->

  </div>
</footer>
