<footer class="page-footer py4 mt4">
  <div class="full-width-wrap">

    <div class="left col col-6">

      <nav class="page-footer-nav">

        <a
          class="text-decoration-none regular"
          href="/">
          Home
        </a>

        <a
          class="text-decoration-none regular ml2"
          href="#work">
          Work
        </a>

        <a
          class="text-decoration-none regular ml2"
          href="#projects">
          Projects
        </a>

        <a
          class="text-decoration-none regular ml2"
          href="#writing">
          Writing
        </a>

        <a
          class="text-decoration-none regular ml2"
          href="/about/">
          About
        </a>

      </nav>

      <div class="social-media-links mt3">

        <a
          href="http://github.com/jglovier"
          class="icon-link inline-block text-decoration-none"
          target="_blank">
          {% include icons/icon-github.html %}
        </a>

        <a
          href="http://twitter.com/jglovier"
          class="icon-link inline-block text-decoration-none ml2"
          target="_blank">
          {% include icons/icon-twitter.html %}
        </a>

        <a
          href="http://dribbble.com/jag"
          class="icon-link inline-block text-decoration-none ml2"
          target="_blank">
          {% include icons/icon-dribbble.html %}
        </a>

      </div>

    </div>

    <div class="right col col-6 right-align">

      <p class="my2">
        Site content ©{{ site.time | date: "%Y" }} Joel Andrew Glovier. All rights reserved.<br />
        Site design and code are public and open source <a href="https://github.com/jglovier/jglovier.github.io">on GitHub</a>.
      </p>

      <p class="mt2 highlighted">
        I am not seeking employment at this time.<br />
        Stuff I sell online:
        <a
          href="http://devtees.com"
          class="regular">Dev Tees</a>
        &bull;
        <a
          href="#"
          class="regular">Icons</a>
        &bull;
        <a
          href="#"
          class="regular">Art</a>
        &bull;
        <a
          href="#"
          class="regular">Apps</a>
      </p>

    </div>
  </div>
</footer>
