  <nav class="site-nav"></nav>

  <header class="page-header">

    <div class="wrap">

      <div class="my-avatar">
        <!-- to use gravatar, use: http://gravatar.com/avatar/08204f4b335869f868d11a5292c9a9fb?s=245 -->
        <img class="joel-photo" src="img/joel-glovier.jpg" alt="Joel Andrew Glovier avatar" />
      </div>

      <div class="intro-copy">
        <h1>Hi, I'm <span>Joel Glovier</span></h1>
        <p class="description">I’m a <a href="#">GitHubber</a>. I <a href="#">design</a> things, <a href="#">build</a> things, <a href="#">write</a> stuff, <a href="#">speak</a> sometimes, and <a href="#">teach</a>.</p>
        <p class="description">You can find me <a href="#">lots of places on the web</a>.</p>
      </div>

    </div>

  </header>