<!--
        $$$$$$$$$$  $$$$$$$$$$  $$$$$$$$$$
                $$  $$      $$  $$
        $$      $$  $$$$$$$$$$  $$      $$
        $$$$$$$$$$  $$      $$  $$$$$$$$$$

               ____==========_______
    _--____   |    | ""  " "|       \
   /  )8}  ^^^| 0  |  =     |  o  0  |
 </_ +-==B vvv|""  |  =     | '  "" "|
    \_____/   |____|________|________|
             (_(  )\________/___(  )__)
               |\  \            /  /\
               | \  \          /  /\ \
               | |\  \        /  /  \ \
               (  )(  )       (  \   (  )
                \  / /        \  \   \  \
                 \|  |\        \  \  |  |
                  |  | )____    \  \ \  )___
                  (  )  /  /    (  )  (/  /
                 /___\ /__/     /___\ /__/
                The AT-AT, By Core21
                (ASCII Art from: http://www.chris.com/ascii/index.php?art=movies%2Fstar%20wars)
-->

<head>
  <meta charset="UTF-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %}Joel Andrew Glovier (JAG), designer, developer, and lots of other things.</title>

  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  {% if page.cssFile %}<link rel="stylesheet" type="text/css" href="/css/{{ cssFile }}" />{% endif %}
  <link rel="icon" type="image/x-icon" href="/favicon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png" />
  <link rel="canonical" href="http://joelglovier.com/" />
  <meta property="og:image" content="...">
  <meta name="copyright" content="Joel Andrew Glovier 2013" />
  <meta name="description" content="The personal gateway page of Joel Andrew Glovier, Web and Interface Designer. Representing all things web related to Joel and other random things he wanted to share on the Internets." />
  <meta name="keywords" content="JAG, JAG Design Ideas, Joel Andrew Glovier, web design, CURE web designer, CURE International, UI, UX, user interface, user experience, graphic design, central PA, central Pennsylvania, Lebanon, advertising, marketing, graphic design, illustration, identity, branding, brand identity, designer, graphic artist, consultant, web design, CSS, front end, print, print design, business cards, website design, information architecture, logo design, content management, wordpress, custom wordpress, CMS, Harrisburg, Dauphin County, Lebanon County, York County, portfolio, design studio, creative services, web development, progressive enhancement, HTML5, CSS3" />
  <meta name="robots" content="index, follow" />
  <meta name="author" content="Joel Andrew Glovier" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="rfhW_LUYYbZ4kwHGGZqplNsGs5eFB1-H8UEfmF6lE9o" />
  <meta name="google-site-verification" content="SGfkvTb1a9lGoIk20Pj6ziWcVDWrXhHpeodFvfBSAyc" />
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
  $(document).ready(function(){

  });
  </script>
</head>