  <nav class="site-nav"></nav>

  <header class="page-header">

    <div class="wrap">

      <div class="my-avatar">
        <!-- to use gravatar, use: http://gravatar.com/avatar/08204f4b335869f868d11a5292c9a9fb?s=245 -->
        <img class="joel-photo" src="/img/joel-glovier.jpg" alt="Joel Andrew Glovier avatar" />
      </div>

      <div class="intro-copy">
        <h1>Hi, I'm <span>Joel Glovier</span></h1>
        <p class="description">I’m a <a href="https://github.com/blog/1522-joel-glovier-is-a-githubber">GitHubber</a>. I <a href="http://dribbble.com/jag">design</a> things, <a href="https://github.com/jglovier">build</a> things, <a href="/#writing">write</a> stuff, <a href="https://speakerdeck.com/jglovier">speak</a> sometimes, and teach.</p>
        <p class="description">You can find me <a href="#">lots of places on the web</a>.</p>
      </div>

    </div>

  </header>