<div class="next-article">
  <div class="wrap">

    <div class="contents constrained">
    {% if page.previous %}
      <p class="next-arrow">Next Article:</p>

      <h3 class="title">
        <a href="{{ page.previous.url }}" class="text-black">{{ page.previous.title }}</a></h3>
        {% if page.previous.subhead %}
          <p class="subhead">{{ page.previous.subhead }}</p>
        {% endif %}
    {% endif %}

      <p class="nav"><a href="/" class="index-link">Writing Index</a></p>
    </div>

  </div>
</div>
