<div class="site-header row pt1">
  <div class="pb2 border-bottom column col-six">
    <h1 class="site-title mt1 mb0">
      <span class="my-name">Joel Glovier</span>
      <span class="statement regular">is a product designer at GitHub.</span>
    </h1>

    <nav class="site-nav text-rounded">
      <a class="inline-block py1 mr2" href="#intro">
        Intro
      </a>
      <a class="inline-block py1 mr2" href="#work">
        Work
      </a>
      <a class="inline-block py1 mr2" href="#projects">
        Projects
      </a>
      <a class="inline-block py1 mr2" href="#writing">
        Writing
      </a>
      <a class="inline-block py1" href="/about/">
        About
      </a>
    </nav>
  </div>

  <div class="right pt3">
    <a href="http://github.com/jglovier" class="icon-link inline-block text-decoration-none" target="_blank">{% include icons/icon-github.html %}</a>
    <a href="http://twitter.com/jglovier" class="icon-link inline-block text-decoration-none" target="_blank">{% include icons/icon-twitter.html %}</a>
    <a href="http://dribbble.com/jag" class="icon-link inline-block text-decoration-none" target="_blank">{% include icons/icon-dribbble.html %}</a>
  </div>
</div>
