<div class="pt2">
  <a href="http://github.com/jglovier" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-github.html %}</a>
  <a href="http://twitter.com/jglovier" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-twitter.html %}</a>
  <a href="http://dribbble.com/jag" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-dribbble.html %}</a>
  <a href="https://www.linkedin.com/in/jglovier/" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-linkedin.html %}</a>
  <a href="https://stackoverflow.com/users/185973/joel-glovier?tab=profile" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-stackoverflow.html %}</a>
  <a href="https://www.quora.com/profile/Joel-Glovier" class="icon-link inline-block text-decoration-none" target="_blank">{% include icons/icon-quora.html %}</a>
</div>
