// articles
.home-articles {
  padding: 0 0 80px;

  .section-header { max-width: 680px; }
  .work-employer { font-size: 34px; }
  .work-title { font-size: 22px; }
  .worked-dates {
    font-size: 18px;
    line-height: 1;
    @include rounded;
  }
  .copy { font-size: 20px; }
  .btn { font-size: 20px; }
  .emoji { top: 2px; }
  .work-links {
    list-style: none;
    font-size: 20px;
    padding-left: 26px;

    .highlight {
      color: $main_color;
      text-decoration: underline;
    }
  }

  .org-writing {
    &.l_1_up {
      .article {
        width: 100%;
        height: 215px;
        margin-left: 0;
        margin-right: 0;
      }
      .article-top { height: 85px; }
      .article-bottom { height: 130px; }
    }
    &.l_2_up { margin: 0 -42px;
      .article { width: 376px; }
    }

    &.l_3_up {
      margin: 0 -42px;
    }
  }

  .article {
    border: 1px solid $border_color;
    background-color: $litenavy_bg;
    border-radius: 5px;
    overflow: hidden;
    width: 245px;
    height: 314px;
    float: left;
    transition: all .1s ease-in-out;

    &:hover {
      &:hover {
        opacity: 1;
        transform: scale(1.05);
        box-shadow: 0 7px 34px 0 rgba(0,0,0,0.11);
      }
    }

    .article-top {
      // background-color: $border_color;
      height: 115px;
    }

    .article-bottom { height: 200px; }

    .story-title {
      font-size: 22px;
      line-height: 26px;
      letter-spacing: -1px; // fallback for no negative subpixel rendering
      letter-spacing: -.06em;
      bottom: 1rem;
    }

    .story-summary {
      font-size: 14px;
      line-height: 18px;
      opacity: .8;
    }

    .action-indicator {
      font-size: 18px;
      bottom: 1rem;
    }
  }

  .col-6 {
    min-height: 340px; //this is a shit fix that should not stay; I should really be using flexbox here to solve this
    .article {
      padding-right: 60px;

      .story-title { font-size: 28px; }
    }
    &.story-left-border {
      .article { padding-right: 0; padding-left: 60px; }
    }
  }
}
