// header shapes
.home-header-graphics {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;

  .block,
  .circle {
    border: 10px solid $black_light;
    width: 50px;
    height: 50px;
  }
  .line {
    width: 400px;
    height: 0;
    border-width: 6px 0 0 0;
    border-image-source: url(/img/border.svg);
    border-image-slice: 33%;
    border-image-repeat: round;

    &.l-white {
      border-image-source: url(/img/border-white.svg);
    }
  }

  .l1 {
    width: 220px;
    top: 674px;
    right: 80px;
    transform: rotate(21deg);
  }
  .l2 {
    width: 118px;
    top: 869px;
    right: 20px;
    transform: rotate(-54deg);
  }
  .l3 {
    width: 500px;
    top: 962px;
    right: -391px;
    transform: rotate(5deg);
  }
  .l4 {
    width: 300px;
    top: 770px;
    right: 90px;
    transform: rotate(-6deg);
  }
  .l5 {
    width: 70px;
    top: 850px;
    right: 373px;
    transform: rotate(81deg);
  }
  .l6 {
    width: 97px;
    top: 776px;
    right: 440px;
    transform: rotate(13deg);
  }
  .l7 {
    width: 337px;
    top: 932px;
    right: 483px;
    transform: rotate(117deg);
  }
  .l9 {
    width: 147px;
    top: 175px;
    right: 11px;
    transform: rotate(29deg);
  }
  .l10 {
    width: 94px;
    top: 196px;
    right: 110px;
    transform: rotate(80deg);
  }
  .l11 {
    width: 63px;
    top: 648px;
    left: 196px;
    transform: rotate(15deg);
  }
  .l12 {
    top: 586px;
    left: 244px;
    width: 120px;
    transform: rotate(-69deg);
  }
  .l13 {
    top: 475px;
    left: 120px;
    width: 180px;
    transform: rotate(5deg);
  }
  .l14 {
    width: 158px;
    top: 392px;
    left: 92px;
    transform: rotate(-40deg);
  }
  .c1 {
    right: -80px;
    top: 665px;
    width: 165px;
    height: 165px;
  }
  .c2 {
    top: 890px;
    right: 350px;
    width: 80px;
    height: 80px;
  }
  .c3 {
    top: 740px;
    right: 540px;
    width: 43px;
    height: 43px;
  }
  .c4 {
    top: 1087px;
    right: 720px;
    width: 40px;
    height: 40px;
  }
  .c5 {
    top: 111px;
    right: 147px;
    width: 38px;
    height: 38px;
  }
  .c6 {
    top: 450px;
    left: 304px;
    width: 80px;
    height: 80px;
  }
  .c7 {
    width: 38px;
    height: 38px;
    top: 448px;
    left: 78px;
  }
  .b1 {
    width: 72px;
    height: 72px;
    top: 588px;
    right: 300px;
    transform: rotate(-5deg);
  }
  .b2 {
    width: 65px;
    height: 65px;
    top: 907px;
    right: 115px;
    transform: rotate(-18deg);
  }
  .b3 {
    width: 40px;
    height: 40px;
    top: 773px;
    right: 395px;
    transform: rotate(7deg);
  }
  .b4 {
    top: 190px;
    right: -50px;
    width: 68px;
    height: 68px;
    transform: rotate(5deg);
  }
  .b5 {
    width: 40px;
    height: 40px;
    top: 248px;
    right: 125px;
    transform: rotate(7deg);
  }
  .b6 {
    width: 40px;
    height: 40px;
    top: 646px;
    left: 261px;
    transform: rotate(7deg);
  }
  .b7 {
    width: 38px;
    height: 38px;
    top: 305px;
    left: 227px;
    transform: rotate(-62deg);
  }
}
