// writing (article index)
.writing { padding-bottom: 80px;

  .section-heading h2 {
    float: left;
    @media (max-width: 595px) { float: none; }

    &.other-writing { font-size: 36px; }

  }

  .article-nav {
    font-weight: 300;
    font-size: 24px;
    float: right;
    margin-right: 60px;
    @media (max-width: 990px) { margin-right: 0; }
    @media (max-width: 595px) {
      float: none;
      margin-top: 20px;
    }

    > a {
      @include link-w-bg;
      background-color: transparent;
      margin-left: 10px;
      float: left;
      @media (max-width: 750px) { margin-left: 4px; }
      @media (max-width: 650px) {
        padding: 3px 6px;
        font-size: 22px;
      }
      @media (max-width: 450px) { font-size: 17px; }

      &:first-child {
        margin-left: 0;
        padding: 3px 16px;
        @media (max-width: 450px) { padding: 3px 8px; }
      }

      &:hover {
        background-color: $tan;
        opacity: .6;
      }

    }

    .showing {
      background-color: $tan;
      cursor: default;

      &:hover { background-color: $tan; }

    }

  }

  .article-item {
    > a { text-decoration: none; }

    &.show { display: block; }

  }

  .article-index {
    list-style: none;
    padding-left: 0;

    li { margin: 60px 0; }

    .article-title {
      @include sans_extrabold;
      font-size: 28px;
      color: $text_color;
      letter-spacing: -1px;
      margin-bottom: 4px;
      line-height: 1.2;

      .external-link-icon-svg {
        margin-left: 5px;

        path { fill: $tan_3; }
      }
    }

    .article-date {
      font-size: 16px;
      color: $tan_3;
      margin: 0;
      font-weight: 400;
      @media (max-width: 450px) { font-size: 14px; }
    }

    .external_site { text-transform: capitalize; }

    .article-excerpt {
      color: $text_color;
      @include serif_regular;
      margin: 7px 0 0;
    }

    .article-source {
      display: block;
      font-style: italic;
      color: $gray_2;
    }

    a { display: block;

      &:hover { opacity: .8; }
    }
  }
}
