/* @group About page styles -------------------- */

.page-about {

  .page-header {
    padding: 100px 0;
    background-size: 1280px;

    .my-avatar { display: none; }

    .intro-copy h1 {
      text-align: right;
      margin-right: 10%;
      margin-top: 0; }

  }

  .post-content {
    @include pn_regular;
    font-size: 24px;

    .lead {
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 45px;
      margin-top: 10px; }

    a { @include pn_bold; color: $gray_3; }

  }

}

/* @end about page styles */