/* @group About page styles -------------------- */

.page-about {

  .page-header {
    padding: 100px 0;
    background-size: 1280px;
    background-color: #c9c4c1;

    .my-avatar { display: none; }

    .intro-copy h1 {
      text-align: right;
      margin-right: 10%;
      margin-top: 0; }

  }

  .post-content { font-size: 20px;

    .lead {
      @include sans_light;
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 45px;
      margin-top: 10px;

      a { font-weight: inherit; }
    }
  }
}

/* @end about page styles */