// Base styles
// -------------------------------------

body{
  background: $white;
  @include sans;
  color: $text_color;
  font-size: 16px;
  line-height: 1.5;
}

body p,
body ul {
  @include rounded;
}

/* apply a natural box layout model to all elements; see: http://paulirish.com/2012/box-sizing-border-box-ftw/; */
/* ...also, dont' be concerned about the everything selector here, as it's not being used as a compound selector, so it's performance impact is very nominal */
* { -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: $black;

  &:hover {
    text-decoration: none;
  }
  &:active,
  &:focus { outline: none; }
}

::-moz-selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}
::selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}

/* @end Base Styles */
