// Base styles
// -------------------------------------

body{
  background: white;
  @include sans;
  color: $text_color;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
}
body p,
body ul {
  @include rounded;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  @include sans;
  color: $black;
}

/* apply a natural box layout model to all elements; see: http://paulirish.com/2012/box-sizing-border-box-ftw/; */
/* ...also, dont' be concerned about the everything selector here, as it's not being used as a compound selector, so it's performance impact is very nominal */
* { -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: $text_link_color;
  text-decoration: none;
  transition: $transition_value_default;

  &:hover {
    color: $secondary_color;
    transition: $transition_value_default;
  }

  &:active,
  &:focus { outline: none; }

  &:visited {
    // need a better pattern here
    // text-decoration: none;
  }
}

::-moz-selection {
  background: rgba($text_link_color,.8);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: rgba($text_link_color,.8);
  color: #fff;
  text-shadow: none;
}

/* @end Base Styles */
