// @group Blog Post Styles --------------------

.blogpost {
  .page-header {
    @media (max-width: $mobile) {
      padding-top: 0;
    }
  }
}

.post-content {
  @include rooney_sans;

  p, ul {
    @include rooney_sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @include sans_bold;
    letter-spacing: $neg_letter_spacing;
    line-height: 1;

    a {
      font-weight: 800;
      text-decoration: none;
    }
  }

  h2, h3, h4, h5, h6 { font-weight: 600; }

  h1, h2 {
    margin: 80px 0 30px;
    font-weight: 700;
  }

  h3, h4 { margin: 40px 0 20px; }

  .half { max-width: 50%; }
  .one-third { max-width: 33%; }
  .two-third { max-width: 66%; }
  .quarter { max-width: 25%; }
  .three-quarter { max-width: 75%; }

  .disclaimer {
    font-size: .9em;
    background-color: $light_blue_bg;
    padding: 20px;
    @include border-radius(5px);
    margin-bottom: 40px;
  }

  .strikethrough,
  del { text-decoration: line-through; color: $gray_2; }

  blockquote:not(.quote) {
    border-left: 6px solid rgba($dznrblue, 1);
    margin-left: 0;
    padding: 5px 40px;
    background-color: $light_blue_bg;
    @include border-radius(0 10px 10px 0);
  }

  code {
    font-size: 18px;
    line-height: 1.2;
    background-color: $light_blue_bg;
    padding: 4px 8px;
    @include border-radius(5px);
  }

  img {
    max-width: 100%;
    @include border-radius(5px);
  }

  hr {
    border: none;
    border-top: 2px solid $border_color;
    margin: 40px 0;
  }

  a { font-weight: 400; }

  li { margin-top: 1rem; }

  strong,
  b {
    color: $black;
  }
}

.discussion-link {
  font-size: 20px;
  text-transform: uppercase;
  @include sans_bold;

  a { text-decoration: none; }
}

// next article styles

.next-article {
  .title {
    font-size: 32px;
  }
}

// syntax highlighting


.highlight {
  @include border-radius(10px);
  padding: 20px 30px;
  border: 1px solid $gray_1;
  font-size: 20px;

  pre { margin: 0;

    code {
      background-color: transparent;
      font-size: 18px;
      line-height: 1.2;
      padding: 0;
    }
  }

  .language-html {
    .nt { color: $navy; background-color: $blue_l4; }
    .na { color: $blue; }
    .s { color: $red; }
    .mc { color: $blue; }
    .p {}
    .k { color: $purple; background-color: $blue_l4; }
    .o {}
    .m { color: $green; }
    .c { color: $gray_2; }
  }

  .language-scss,
  .language-css {
    .c1 { color: $gray_2; }     // comment
    .nc { color: $blue; }       // selector (class)
    .p { color: $true_black; }  // bracket or semi-colon
    .na { color: $red; }        // property
    .o { color: $true_black; }  // colon
    .no { color: $blue_d1; }    // value (keyword)
    .mh { color: $purple; background-color: $purple_l; }    // value (hex)
    .mi { color: $green; }      // value (integer)
    .kt { color: $green; }      // value (unit)
    .k { color: $blue_d1; }     // self selector
    .nd { color: $blue; }       // selector (psuedo)
    .nt { color: $green; }      // selector (element)
  }
}

// @end Blog Post Styles
