/* @group Category Page Styles -------------------- */

body.category {
  .page-header {
    h1 { text-transform: capitalize; }
  }
}

.categories {

  .category-list {
    padding: 0;
    list-style: none;

    li {
      text-transform: capitalize;
      float: left;

      > a {
        @include link-w-bg;
        float: left;
        margin: 0 4px 8px;
        font-size: 20px;
        @media (max-width: 450px) { font-size: 16px; }
      }

      &:hover { opacity: .6; }

    }

  }

}

/* @end Category Page Styles */
