/* @group Category Page Styles -------------------- */

body.category {
  .page-header {
    h1 { text-transform: capitalize; }
  }
}

.categories {
  .category-list {
    column-count: 3;
    column-gap: 24px;

    li {
      text-transform: capitalize;

      > a {
        font-size: 20px;
        @media (max-width: 450px) { font-size: 16px; }
      }
    }
  }
}

/* @end Category Page Styles */
