/* @group Category Page Styles -------------------- */

body.category {

  .page-header {
    margin-bottom: 20px;
    padding: 100px 0 40px;

    .intro-copy { width: auto; }

    h1 { text-transform: capitalize; }

    .subhead {
      border-top: 3px solid;
      border-bottom: 1px solid;
      padding: 5px 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }

  }
}

.categories {

  .category-list {
    padding: 0;
    list-style: none;

    li {
      text-transform: capitalize;
      float: left;

      > a {
        @include link-w-bg;
        float: left;
        margin: 0 4px 8px;
        font-size: 20px;
        @media (max-width: 450px) { font-size: 16px; }
      }

      &:hover { opacity: .6; }

    }

  }

}

/* @end Category Page Styles */