/* @group Home styles -------------------- */

.page-home {

  .page-header {
    background-color: $tan;
    background-image: none;
    padding: 0;
    overflow: hidden;
    @media (max-width: 990px) { height: auto; }

    .my-avatar {
      width: pct( 600, 1024);
      float: right;
      position: relative;
      bottom: -5px;
      margin-top: 40px;
      margin-bottom: -10px;
      @media (max-width: 990px) {
        max-width: 550px;
        width: 100%;
        margin: 40px auto -120px;
        float: none;
      }
    }

    .joel-photo { max-width: 100%; }

    .intro-copy {
      width: 385px;
      float: left;
      margin-top: 80px;
      @media (max-width: 990px) {
        margin: 30px auto 0;
        float: none;
      }
      @media (max-width: 700px) { width: auto; }

      h1 {
        margin: 20px 0 25px;
        letter-spacing: -3px;
        font-weight: 800;
        font-size: 4.4rem;
        text-indent: 4px;
        @media (max-width: 570px) { font-size: 14vw; }

        a {
          font-weight: 700;
          color: $text_color;
        }
      }

      h2 {
        font-weight: 300;
        border-top: 3px solid $border_color;
        border-bottom: 1px solid $border_color;
        padding: 10px 0;
        font-size: 1.46875rem;
        margin: 10px 0;
        @media (max-width: 570px) {
          font-size: 5vw;
          letter-spacing: -1px;
        }
      }

      .description {
        font-size: 16px;
        line-height: 1.5;
        @include serif;
      }
    }

    .social-media-links { margin-top: 20px; }

    .icon-link {
      display: inline-block;
      text-decoration: none;
      margin-right: 6px;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .writing {
    .article-item { display: none; }
  }
}

/* Writing (article index) */

.writing { padding-bottom: 80px;

  .section-heading h2 {
    float: left;
    @media (max-width: 595px) { float: none; }

    &.other-writing { font-size: 36px; }

  }

  .article-nav {
    font-weight: 300;
    font-size: 24px;
    float: right;
    margin-right: 60px;
    @media (max-width: 990px) { margin-right: 0; }
    @media (max-width: 595px) {
      float: none;
      margin-top: 20px;
    }

    > a {
      @include link-w-bg;
      background-color: transparent;
      margin-left: 10px;
      float: left;
      @media (max-width: 750px) { margin-left: 4px; }
      @media (max-width: 650px) {
        padding: 3px 6px;
        font-size: 22px;
      }
      @media (max-width: 450px) { font-size: 17px; }

      &:first-child {
        margin-left: 0;
        padding: 3px 16px;
        @media (max-width: 450px) { padding: 3px 8px; }
      }

      &:hover {
        background-color: $tan;
        opacity: .6;
      }

    }

    .showing {
      background-color: $tan;
      cursor: default;

      &:hover { background-color: $tan; }

    }

  }

  .article-item {
    > a { text-decoration: none; }

    &.show { display: block; }

  }

  .article-index {
    list-style: none;
    padding-left: 0;

    li { margin: 60px 0; }

    .article-title {
      @include sans_extrabold;
      font-size: 28px;
      color: $text_color;
      letter-spacing: -1px;
      margin-bottom: 4px;
      line-height: 1.2;

      .external-link-icon-svg {
        margin-left: 5px;

        path { fill: $tan_3; }
      }
    }

    .article-date {
      font-size: 16px;
      color: $tan_3;
      margin: 0;
      font-weight: 400;
      @media (max-width: 450px) { font-size: 14px; }
    }

    .external_site { text-transform: capitalize; }

    .article-excerpt {
      color: $text_color;
      @include serif_regular;
      margin: 7px 0 0;
    }

    .article-source {
      display: block;
      font-style: italic;
      color: $gray_2;
    }

    a { display: block;

      &:hover { opacity: .8; }
    }
  }
}


/* @end Home styles */