// Home styles
// -------------------------------------

body.page-home {
//  background-image: linear-gradient(to bottom, $litenavy_bg, white 600px);
}

// intro
.section-intro {
  .intro-copy {
    width: 512px;

    .headline {
      font-size: 52px;
      line-height: 60px;
    }
  }

  .intro-illustration {
    width: calc(100% - 512px;)
  }
}

.description {
  &.primary {
    max-width: 320px;
  }
}

.intro-img-primary {
  top: -30px;
}

.pdc-graphic {
  background-image: url(/img/product-development-cycle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 546px;
}

// woof...but yeah quick and dirty solution
// need to refactor this for responsive
.pdc-step-item {
  &.first {
    top: 72px;
    left: 246px;
  }
  &.second {
    top: 222px;
    left: 487px;
  }
  &.third {
    top: 430px;
    left: 354px;
  }
  &.fourth {
    top: 430px;
    left: 105px;
  }
  &.fifth {
    top: 222px;
    left: 8px;
  }

  p { line-height: 20px; }
}

.wid-graphic {
  left: -70px;
}

// quotes section

.quote {
  background-color: $pink_light;
  border-radius: 5px;

  &.pl-quote {
    padding-left: 90px;
  }

  // hanging left quote char
  &::before {
    content: "“";
    display: block;
    font-size: 200px;
    position: absolute;
    opacity: .15;
    top: 0;
    left: -22px;
    line-height: 295px;
  }

  p {
    color: $dark_navy;
  }

  .quote-avatar {
    width: 64px;
  }
}

.flex-row-reverse {
  .quote {
    background-color: $light_blue_bg;
  }
}
