// Home styles
// -------------------------------------

// intro
.section-intro {
  .intro-copy {

    .description {
      @include rounded;
      font-size: 18px;
      line-height: 27px;
      margin: 26px 0;

      &.left { margin-top: 0; }

      a { font-weight: normal; }
    }
  }

  .icon-link {
    margin-right: 16px;

    &:hover {
      background-color: transparent;
    }
  }

  .leading-indicator {
    margin: 20px 0;
  }
}
