/* @group Home styles -------------------- */

.page-home {

  .page-header {
    background-color: $tan;
    background-image: none;
    padding: 0;
    overflow: hidden;

    .my-avatar {
      width: 600px;
      float: right;
      margin-top: 40px;
      margin-bottom: -10px;
    }

    .joel-photo { max-width: 100%; }

    .intro-copy {
      width: 385px;
      color: $text_color;
      float: left;
      margin-top: 90px;

      h1 {
        margin: 20px 0 25px;
        letter-spacing: -3px;
        font-weight: 800;
        font-size: 4.4rem;
        text-indent: 4px;

        a {
          font-weight: 700;
          color: $text_color;
        }
      }

      h2 {
        font-weight: 300;
        border-top: 3px solid $border_color;
        border-bottom: 1px solid $border_color;
        padding: 10px 0;
        font-size: 1.46875rem;
      }

      .description {
        font-size: 16px;
        line-height: 28px;
      }

      a { text-decoration: underline; }
    }
  }
}

/* Writing (article index) */

.writing { padding-bottom: 80px;

  .section-heading h2 {
    float: left;

    &.other-writing { font-size: 36px; }

  }

  .article-nav {
    font-weight: 300;
    font-size: 24px;
    float: right;
    margin-right: 60px;

    > a {
      color: $text_color;
      @include border-radius(5px);
      margin-left: 10px;
      padding: 3px 10px;
      float: left;
      line-height: 1.25;
      letter-spacing: -1px;
      outline: none;

      &:first-child {
        margin-left: 0;
        padding: 3px 16px;
      }

      &:hover { background-color: $blue_l3; }

    }

    .showing {
      background-color: $tan;
      cursor: default;

      &:hover { background-color: $tan; }

    }

  }

  .article-item { display: none;

    &.show { display: block; }

  }

  .article-index {
    list-style: none;
    padding-left: 0;
    max-width: 672px;
    margin-left: 176px;

    li { margin: 60px 0; }

    .article-title {
      @include sans_extrabold;
      font-size: 28px;
      color: $text_color;
      letter-spacing: -1px;
      margin-bottom: 4px;
      line-height: 1.2;

      .external-link-icon-svg {
        margin-left: 5px;

        path {
          fill: #09f;
          opacity: .5;
        }
      }
    }

    .article-date {
      font-size: 16px;
      color: $tan_3;
      margin: 0;
    }

    .external_site { text-transform: capitalize; }

    .article-excerpt {
      color: $text_color;
      @include serif_regular;
      margin: 7px 0 0;
    }

    .article-source { display: block; font-style: italic; color: $gray_2; }

    a { display: block;

      &:hover { opacity: .8; }
    }
  }
}


/* @end Home styles */