/* @group Layout Styles -------------------- */

/* Site Nav */

.site-nav {
  position: fixed; z-index: 999;
  top: 16px; right: 16px;
  @include border-radius(4px);
  color: $white;

  .nav-trigger {
    background: $blue;
    @include border-radius(4px);
    padding: 8px;
    display: block;
    text-align: right;
    line-height: 1;

    .menu-icon { display: block; }

  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0 15px 8px;
    text-align: right;
    display: none;

    > li:hover {
      background-color: $blue_l2;
      margin: 0 -15px;
      padding: 0 15px; }

    a { color: #fff; }

  }

  &:hover { background: $blue;

    .links { display: block; }

    .nav-trigger {

      .menu-icon { display: inline-block; }

    }

  }

}

/* Page Header */

.page-header {
  background-size: cover;
  border-bottom: 15px solid $blue;
  padding: 195px 0 65px;
  color: $white;
  @include bg-img-classes;

  .intro-copy { width: pct( 1022, 1284); float: left; font-weight: 300;

    h1 {
      font-weight: 700;
      margin: 20px 0 0;
      width: auto;
      font-size: 60px;
      line-height: 1; }

    .subhead {
      font-size: 28px;
      font-family: "Minion Pro", Palatino, Georgia, serif;
      font-style: italic;
      margin: 5px 0 0; }

    .article-date {
      font-size: 20px;
      font-family: "pn_font";
      letter-spacing: 2px;
      margin: 0;
      color: $blue_l3; }

    .description { font-size: 24px; margin: 10px 0 0;

      a { font-weight: 700; }

    }

    a {
      border-bottom: 2px solid rgba(255,255,255,.5);
      padding:0 5px; margin: 0 -5px;
      @include border-radius(4px 4px 0 0);
      color: #fff;

      &:hover { background-color: rgba(0,68,114,.4); }

    }

  }

  .joel-photo {
    display: inline-block;
    width: pct( 245, 341);
    max-width: 124px;
    margin-right: 30px;
    @include border-radius(100%); }

  .my-avatar { width: pct( 237, 1284); text-align: right; float: left;

    > a { display: block; height: 126px; }

  }

}


/* Page Footer */

.page-footer {
  text-align: center;
  border-top: 1px solid #e8e8e8;
  padding: 20px 0;

  p { margin: 0; }

  a { color: $blue; }

}

/* Utilities */

.wide-left-margin { margin-left: pct( 341, 1284); padding-right: 30px; }

/* WIP Notice */

.wip-notice {
  position: fixed;
  top: 10px; left: 0;
  width: 110px;
  padding: 5px 5px;
  background-color: $blue_l4;
  border-radius: 0 3px 3px 0;
  opacity: .6;

  &:hover { opacity: 1; }

  p {
    margin: 0;
    font-size: 12px;
    text-align: center;
    line-height: 1.25;

    a { color: $blue; text-decoration: underline; }

  }

}

/* @end Layout Styles */