/* @group Layout Styles -------------------- */

.col {
  padding: .5rem;
}

.icon-link {
  margin-right: 4px;

  svg {
    path {
      fill: #A8BBD4;
      transition: fill .4s ease;
    }
  }

  &:hover {
    svg {
      path {
        fill: $salmon;
      }
    }
  }
}

// Site nav

.site-nav {
  .my-name {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;
  }

  .statement {
    @include rounded;
    font-size: 18px;
  }

  .social-media-links {
  }
}

.site-nav-menu {
  @include border-radius(3px);
  background: $white;
  position: relative;
  top: 12px;

  &:hover {
    .links { display: block; }

    .nav-trigger {
      .menu-icon {
        display: inline-block;
      }
    }

  }

  .nav-trigger {
    @include border-radius(3px);
    padding: 6px;
    display: block;
    text-align: right;
    line-height: 1;

    .menu-icon {
      display: block;

      path {
        fill: rgba($text_color, 1);
      }
    }
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0 15px 8px;
    text-align: right;
    display: none;

    > li:hover {
      text-decoration: underline;
    }
  }
}

// Page Header

.page-header {
  padding: 45px 0;
  // background-color: $litenavy_bg;
  // border-bottom: 1px solid $border_color;

  .intro-copy {

    h1 {
      font-weight: 800;
      letter-spacing: $neg_letter_spacing;
      width: auto;
      font-size: 60px;
      line-height: 1;

      @media (max-width: 570px) { font-size: 38px; }
    }
  }
}

// Page Content

.headline {
  letter-spacing: -4px; // fallback for no negative subpixel rendering
  letter-spacing: -.06em;
  font-size: 36px;
  line-height: 36px;
}

.section-headline {
  font-size: 22px;
  line-height: 46px;
  z-index: 2;
  letter-spacing: $neg_letter_spacing;
  color: $main_color;
}


// Page Footer

.page-footer {
  background-color: $deep_blue;
  //background-image: url(/img/footer-bg.png);
  background-size: 35%;
  background-repeat: repeat-x;
  background-position: top center;
  margin-top: 160px;

  p {
    color: $litenavy_bg;
  }

  a {
    color: $secondary_color;
  }
}

/* Utilities */

.constrained {
  max-width: 672px;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  h2 {
    font-weight: 800;
    line-height: 1;
    margin: 0;
    font-size: 36px;
    letter-spacing: -2px;
    @media (max-width: 450px) { font-size: 28px; }
  }
}

/* @end Layout Styles */
