/* @group Layout Styles -------------------- */

/* Site header */

.site-header {
  background: $purple;
  color: $white;
  overflow: hidden;

  .site-title {
    float: left;
  }

  .my-name { font-size: 34px; }

  .descriptor { font-size: 18px}

  .site-nav {
    float: right;
    @media (max-width: 570px) {  }
  }
}

/* Page Header */

.page-header {
  background-size: cover;
  padding: 195px 0 65px;
  color: $white;
  @include bg-img-classes;

  .intro-copy {

    h1 {
      font-weight: 800;
      letter-spacing: -3px;
      margin: 20px 0 0;
      width: auto;
      font-size: 60px;
      line-height: 1;

      @media (max-width: 570px) { font-size: 38px; }
    }

    .subhead {
      font-size: 28px;
      @include serif;
      letter-spacing: -1px;
      margin: 5px 0 0;
    }

    .description {
      font-size: 24px;
      margin: 10px 0 0;

      a {
        font-weight: 600;
        letter-spacing: -1px;
      }
    }

    a {
      padding:0 3px; margin: 0 -3px;
      @include border-radius(4px);
      color: $white;

      &:hover { background-color: white; }
    }
  }
}


/* Page Footer */

.page-footer {
  text-align: center;
  border-top: 1px solid $border_color;
  padding: 30px 0;
  @include serif;
  @media (max-width: 450px) { font-size: 14px; }

  p { margin: 0; }
}

/* Utilities */

.constrained {
  max-width: 672px;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  border-top: 3px solid $border_color;
  border-bottom: 1px solid $border_color;
  padding: 18px 0;
  margin-bottom: 30px;

  h2 {
    font-weight: 800;
    line-height: 1;
    margin: 0;
    font-size: 36px;
    letter-spacing: -2px;
    color: $heading_color;
    @media (max-width: 450px) { font-size: 28px; }
  }
}

/* @end Layout Styles */
