/* @group 404 page styles -------------------- */

body.page404 {
  background-color: #4b215f;
  color: #fff;

  .site-nav a { color: $text_color; }

  .bg-img {
    background-image: url("../img/bg-404-sunset.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1; }

  .page-content {
    position: absolute;
    z-index: 2;
    width: 100%; height: 100%;
    overflow: scroll; }

  a { color: #e1a7ff; }

  header { margin-top: 40px; }

  .intro-copy {
    width: pct( 455, 1284);
    float: left;
    text-align: center;

    h1 {
      font-weight: 900;
      font-size: 246px;
      margin: 40px 0 20px;
      width: auto;
      line-height: 170px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .subhead {
      font-size: 50px;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0;
      white-space: nowrap; }

  }

  .intro-right {
    @include sans_bold;
    font-size: 78px;
    line-height: 96.5px;
    margin: 15px 0 0;
    width: pct( 736, 1284);
    float: right;

  }

  .wrap { max-width: 1232px; }

  .content {
    background-color: rgba(56,21,68,.4);
    margin: 60px 0;
    padding: 0 0 30px;

    h2 { font-size: 30px; margin: 40px 0 0; }

    p { font-size: 20px; @include serif; }

  }

  ol {
    @include serif;
    font-size: 20px;
    padding-left: 0;

    li { list-style-position: inside; margin-bottom: 10px; }

  }

}

@media screen and (max-width: 1300px) {

  body.page404 {

    .wrap { max-width: 960px; }

    header { margin-top: 20px; }

    .intro-copy { width: 437px; }

    .intro-right {
      width: 455px;
      font-size: 65px;
      line-height: 65px;
      margin-top: 34px;
      letter-spacing: -3px; }

    .content { margin-top: 30px; }

  }

}

@media screen and (max-width: 1000px) {

  body.page404 {

    .intro-copy { width: 100%; }

    .intro-right { width: 100%; padding: 0 30px; text-align: center; }

    .content { padding: 0 30px; }

  }

}

@media screen and (max-width: 500px) {

  body.page404 {

    .intro-copy {

      h1 { font-size: 156px; line-height: 130px; margin-bottom: 0; }

      .subhead { font-size: 29px; line-height: 1; }

    }

    .intro-right { padding: 0 15px; font-size: 36px; line-height: 1; }

    .content { padding: 0 15px;

      h2 { line-height: 1; }

    }

  }

}

/* @end 404 page styles */