// utilities

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 1084px;
  padding: 0 60px;
  margin: 0 auto;
  zoom: 1; }

.full-width-wrap:before,
.full-width-wrap:after { content:""; display:table; }
.full-width-wrap:after { clear: both; }
.full-width-wrap {
  max-width: 1400px;
  padding: 0 60px;
  margin: 0 auto;
  zoom: 1; }

.fixed{ position: fixed; }

// clearfix (now called group, via http://css-tricks.com/snippets/css/clear-fix/)
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

// hidden accessible text
// https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.hidden-accessible {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// typography

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-color {
  color: $main_color;
}

.text-color-secondary {
  color: $secondary_color;
}

.ln-height-1 {
  line-height: 1;
}

// border

.story-left-border {
  border-left: $story_border;
}
