/* @group Variables -------------------- */

// v1 colors

$white:           #fff;
$true_black:      #000;
$blue:            #0099ff;
$blue_d1:         #2a7ae2;    // dark blue
$blue_l1:         #3fb2ff;    // light blue
$blue_l2:         #7fccff;    // lighter blue
$blue_l3:         #d3edff;    // lightest blue
$blue_l4:         #f3faff;    // REALLY light blue like almost white
$navy:            #004472;
$gray_1:          #eee;       // super light gray
$gray_2:          #c7c7c7;    // light gray
$gray_3:          #585858;    // dark gray
$gray_4:          #333;       // darkest gray
$red:             #ff0000;    // red
$magenta:         #b400ff;    // magenta
$purple:          #7653c1;    // purple
$purple_l:        #f3f2ff;    // light purple
$green:           #24ac00;    // green

// v2 colors

$black:           #333;
$tan:             #f4f0ed;
$tan_2:           #d9d4d0;
$tan_3:           #a29f9c;
$tan_4:           #85807c;
$text_color:      $black;
$border_color:    $tan_2;
$heading_color:   $black;

/* @end Variables */