<article class="work-story">
  <a href="#" class="text-white text-decoration-none">
    <h2 class="story-title mt0 mb3">
        TIME.com responsive redesign
    </h2>
    <p class="story-summary col-8 mb3">
      Working with the TIME.com web team, Doug Neiner and I implemented a complete responsive redesign of TIME.com to help make their content more accessible to readers across devices. Here are some of the challenges and opportunities we discovered while working on the project.
    </p>
    <span class="btn regular inline-block">
      Read more
    </span>
  </a>
</article>
