<article class="work-story">
  <h2 class="story-title mt0 mb3">
    <a href="#" class="text-decoration-none text-white">
      TIME.com responsive redesign
    </a>
  </h2>
  <p class="story-summary col-8 mb3">
    When you’re entire user base is 20M developers around the world, how do you craft a software workflow that works for the power users of software? You get out of their way by removing the friction and raising the speed limits.
  </p>
  <a
    href="#"
    class="btn regular text-decoration-none inline-block">
    Read more
  </a>
</article>
