{% include site-nav.html %}

  <header class="page-header clearfix p0 pb2">

    <div class="ml4 max-width-4 mx-auto clearfix center px3">

      <img src="/img/404-illustration.png" class="img-full-width block mx-auto" width="900" />

      <div class="intro-copy">
        <h1 class="my2">Oops! You seem to have discovered a hole in my site.</h1>
        <p class="subhead mt3 max-width-2 mx-auto">Sorry about that. Try starting at the <a href="/">home page</a>, or <a href="mailto:404@joelglovier.com">email me</a> if you are looking for something specific.</p>
      </div>
    </div>

  </header>
