{% include site-nav.html %}

{% include readingtime_page.html %}

  <header class="page-header {% if page.imgclass %}{{ page.imgclass }} {% else %}{{ page.categories | join: " " }} {% endif %} clearfix p0 pb2">

    <div class="ml4 max-width-3 left clearfix pt4">
      <div class="intro-copy">
        <h1 class="my2">{{ page.title }}</h1>
        {% if page.subhead %}
          <p class="subhead m0">{{ page.subhead }}</p>
        {% endif %}
        <p class="article-date m0">{{ page.date | date: "%B %e, %Y" }} {% if page.categories %} in <a href="/writing/{{ page.categories | first }}">{{ page.categories | first }}</a>{% endif %} • {{ reading_time }} read • <a href="/writing/">Back to article index</a></p>
      </div>
    </div>

    <img src="/img/blog-default-pencil.jpg" class="right px3" width="480px" />

  </header>
