{% include site-nav.html %}

{% include readingtime_page.html %}

  <header class="page-header {% if page.imgclass %}{{ page.imgclass }} {% else %}{{ page.categories | join: " " }} {% endif %}">

    <div class="wrap">

      <div class="my-avatar">
        <a href="/"><img class="joel-photo" src="/img/Joel-2015-tight-crop.jpg" alt="Joel Andrew Glovier avatar" /></a>
      </div>

      <div class="intro-copy">
        <h1>{{ page.title }}</h1>
        {% if page.subhead %}<p class="subhead">{{ page.subhead }}</p>{% endif %}
        <p class="article-date">{{ page.date | date: "%B %e, %Y" }} {% if page.categories %} in <a href="/writing/{{ page.categories | first }}">{{ page.categories | first }}</a>{% endif %} • {{ reading_time }} read</p>
      </div>

    </div>

  </header>