{% include site-nav.html %}

{% include readingtime_page.html %}

<header class="page-header {% if page.imgclass %}{{ page.imgclass }} {% else %}{{ page.categories | join: " " }} {% endif %}">

  <div class="ml4 max-width-4 mx-auto clearfix center">

    <img src="{{ page.banner-image }}" class="block mx-auto mt2 mb4" width="960" />

    <div class="intro-copy">
      <h1 class="my2">{{ page.title }}</h1>
      {% if page.subhead %}
        <p class="subhead m0">{{ page.subhead }}</p>
      {% endif %}
      <p class="article-date m0">{{ reading_time }} read • <a href="/writing/">Back to article index</a></p>
    </div>
  </div>

</header>
