{% include site-nav.html %}

  <header class="page-header">

    <div class="wrap">

      <div class="my-avatar">
        <!-- to use gravatar, use: http://gravatar.com/avatar/08204f4b335869f868d11a5292c9a9fb?s=245 -->
        <img class="joel-photo" src="/img/joel-glovier_201401101739.jpg" alt="Joel Andrew Glovier avatar" />
      </div>

      <div class="intro-copy">
        <h1>Hi, I'm <a href="/about/">Joel Glovier</a></h1>
        <p class="description">I’m a <a href="https://github.com/jglovier">GitHubber</a>. I <a href="http://dribbble.com/jag">design</a> stuff, <a href="https://github.com/jglovier">build</a> things, make <a href="http://devtees.com">t-shirts</a>, <a href="/#writing">write</a>, <a href="https://speakerdeck.com/jglovier">speak</a>, and <a href="https://github.com/jglovier?tab=repositories">learn</a>.</p>
        <p class="description">Find me on <a href="http://twitter.com/jglovier">Twitter</a> or <a href="http://github.com/jglovier">GitHub</a>.</p>
      </div>

    </div>

  </header>