{% include site-nav.html %}

  <header class="page-header">

    <div class="wrap">

      <div class="intro-copy">
        <h1>Joel Glovier</h1>
        <h2>Product design • UX • Front end dev</h2>
        <p class="description">Hi, I’m Joel. I work at <a href="https://github.com/jglovier">GitHub</a> where I’m a Sr. Product Designer focused on github.com workflow. I'm also a core contributor on <a href="http://hospitalrun.io">HospitalRun</a>. I make <a href="http://devtees.com">Dev Tees</a>. I enjoy <a href="/#writing">writing</a>, <a href="https://speakerdeck.com/jglovier">speaking</a>, and <a href="https://github.com/jglovier?tab=repositories">learning</a> new things. I work hard and I work smart. <a href="https://github.com/jglovier/ama">Ask me anything</a>.</p>
        <div class="social-media-links">
          <a href="http://github.com/jglovier" class="icon-link" target="_blank">{% include icons/icon-github.html %}</a>
          <a href="http://twitter.com/jglovier" class="icon-link" target="_blank">{% include icons/icon-twitter.html %}</a>
          <a href="http://dribbble.com/jag" class="icon-link" target="_blank">{% include icons/icon-dribbble.html %}</a>
          <a href="http://instagram.com/joelglovier" class="icon-link" target="_blank">{% include icons/icon-instagram.html %}</a>
          <a href="http://soundcloud.com/joelglovier" class="icon-link" target="_blank">{% include icons/icon-soundcloud.html %}</a>
        </div>
      </div>

      <div class="my-avatar home">
        <img class="joel-photo" src="/img/joel-glovier-2015-02-17.jpg" alt="Joel Andrew Glovier avatar" />
      </div>

    </div>

  </header>
