<div id="background" class="wrap">

  <h2>Background</h2>

      <ul class="experience">

        <li class="exp skills me">

          <!-- <span class="col-6 left img">
            <img src="/img/joel-head.jpg" alt="Joel's portrait" />
          </span> -->

          <span class="col-10 right">

            <h4 class="title">User Experience Designer/Developer</h4>

            <p class="description">My mom was a formally trained fine artist, and my dad was a career chemist...so I ended up with a passion for aesthetics and an obsession with how things work. Educated in <a href="#undergrad">marketing and communications</a>, I'm a self taught designer/developer hybrid. Skills include:</p>

            <ul>
              <li class="odd">CSS Baller</li>
              <li class="even">HTML Purist (kinda)</li>
              <li class="odd">User interface craftsman</li>
              <li class="even">User experience activist</li>
              <li class="odd">HTML email endurer</li>
              <li class="even">Git <span class="heart">&#9829;</span>er</li>
              <li class="odd">PHP dabbler</li>
              <li class="even">MySQL hater (but user still)</li>
              <li class="odd">Ruby rookie</li>
              <li class="even">jQuery explorer</li>
              <li class="odd">Information architecture fiend</li>
              <li class="even">Print design pro</li>
            </ul>

          </span>

        </li>


        <li class="exp job github">

          <!-- <span class="col-6 left img">
            <a href="http://github.com/jglovier" target="_blank"><img src="/img/github-img.jpg" alt="GitHub logo" /></a>
          </span> -->

          <span class="col-10 right">

            <h4 class="organization"><a href="http://github.com/jglovier" target="_blank">GitHub</a></h4>

            <span class="details">
              <p class="position">UX/Product Designer</p>
              <p class="timeframe">06-2013 <span class="thru">thru</span> Present</p>
            </span>

            <p class="description">At GitHub I work with the training team on top-secret apps that I cannot talk about. If you're not familiar with GitHub, we create Git based tools to help people work together. You can read more about GitHub from <a href="http://www.businessweek.com/articles/2013-06-20/github-got-silly-rich-dot-next-step-make-more-awesome" target="_blank">this recent article in the Bloomberg Businessweek</a>.</p>

          </span>

        </li><!--/.github-->


        <li class="exp job appendto">

          <!-- <span class="col-6 left img">
            <a href="http://appendto.com" target="_blank"><img src="/img/appendto-img.jpg" alt="appendTo logo" /></a>
          </span> -->

          <span class="col-10 right">

            <h4 class="organization"><a href="http://appendto.com" target="_blank">appendTo</a></h4>

            <span class="details">
              <p class="position">Visual Design Engineer</p>
              <p class="timeframe">05-2012 <span class="thru">thru</span> 06-2013</p>
            </span>

            <p class="description">Was part of the professional services arm at appendTo, designing and developing user experiences for our clients. Primarily front-end development, working with HTML and CSS, as well as some information architecture and user experience design Wordpress development. Served as a Tech Lead on several projects; was part of the TIME.com responsive redesign, which you can read about <a href="http://appendto.com/case-study/responsive-design-time-com" target="_blank">here</a>. Worked with TIME, Microsoft, Zumba, Bloomberg, Pearson, etc.</p>

          </span>

        </li><!--/.appendto-->


        <li class="exp job cure">

          <!-- <span class="col-6 left img">
            <a href="http://cure.org" target="_blank"><img src="/img/cure-img-dark.jpg" alt="CURE logo" /></a>
          </span> -->

          <span class="col-10 right">

            <h4 class="organization"><a href="http://cure.org" target="_blank">CURE International</a></h4>

            <span class="details">
              <p class="position">Design Consultant</p>
              <p class="timeframe">05-2012 <span class="thru">thru</span> 12-2012</p>
            </span>
            <span class="details">
              <p class="position">Principal Designer</p>
              <p class="timeframe">07-2011 <span class="thru">thru</span> 04-2012</p>
            </span>
            <span class="details last">
              <p class="position">Web & Graphic Designer</p>
              <p class="timeframe">09-2009 <span class="thru">thru</span> 06-2011</p>
            </span>

            <p class="description">As principal designer I was responsible for all aspects of communications and marketing design at CURE - including CURE's visual brand presence, creating a visually compelling experience at CURE.org, and across all marketing campaigns. Also created web layouts in Photoshop and built them out with HMTL & CSS within a SVN-managed development environment as part of a small in house marketing/development team. Also responsible for all print graphic design, and strategic marketing input.</p>

            <p class="description">Currently, as a contract design consultant I give critical input to marketing initiatives, provide in-house training for new talent, and assist as needed with projects.</p>

            <p class="special">To support CURE on my behalf, <a href="http://cure.org/give/jag" target="_blank">go here</a>.</p>

          </span>

        </li><!--/.cure-->



        <li class="exp job hacc">

          <!-- <span class="col-6 left img">
            <a href="http://hacc.edu" target="_blank"><img src="/img/hacc-img.jpg" alt="HACC logo" /></a>
          </span> -->

          <span class="col-10 right">

            <h4 class="organization"><a href="http://hacc.edu" target="_blank">Harrisburg Area Community College</a></h4>

            <span class="details">
              <p class="position">Adjunct Professor</p>
              <p class="timeframe">03-2008 <span class="thru">thru</span> Present</p>
            </span>

            <p class="description">I teach courses in the noncredit technology department to primarily adult continuing education students, on a very part time basis. Courses I've taught include: <em>Photoshop Basics</em>, <em>Illustrator Basics</em>, <em>Intro to Digital Photography</em>, <em>Introduction to Computers</em>, and <em>Web Authoring</em>.</p>

            <p class="special">If you're looking for resources for a class I've taught, <a href="/hacc">check here</a>.</p>

          </span>

        </li>

        <li class="exp job jag">

          <!-- <span class="col-6 left img">
            <a href="http://jagdesignideas.com" target="_blank"><img src="/img/jag-img.jpg" alt="JAG Design Ideas logo" /></a>
          </span> -->

          <span class="col-10 right">

            <h4 class="organization"><a href="http://jagdesignideas.com" target="_blank">JAG Design Ideas</a></h4>

            <span class="details">
              <p class="position">Designer/Owner</p>
              <p class="timeframe">10-2007 <span class="thru">thru</span> Present</p>
            </span>

            <p class="description">Business face of my full-time freelance career for about two years, and part time thereafter. Have provided print and web design services to a wide range of clients, many in the nonprofit sector. Feel free to browser some of my <a href="http://jagdesignideas.com/portfolio/portfolio.html" target="_blank">JAG Design Ideas projects here</a>.</p>

          </span>

        </li>

        <li class="exp job freelance">

          <!-- <span class="col-6 left img">
            <img src="/img/freelance-img.jpg" alt="freelance icon" />
          </span> -->

          <span class="col-10 right">

            <h4 class="organization">Freelance</h4>

            <span class="details">
              <p class="position">Graphic Designer</p>
              <p class="timeframe">08-2004 <span class="thru">thru</span> 10-2007</p>
            </span>

            <p class="description">Primarily print work, including brand identity, outdoor signage, apparel design, and some fine art projects for a local clients.</p>

          </span>

        </li>

        <li id="undergrad" class="exp edu liberty-comms">

          <!-- <span class="col-6 left img">
            <a href="http://liberty.edu" target="_blank"><img src="/img/lu-img.jpg" alt="Liberty University icon" /></a>
          </span> -->

          <span class="col-10 right">

            <h4 class="organization"><a href="http://liberty.edu" target="_blank">Liberty University</a></h4>

            <span class="details">
              <p class="position">BS in Communication - AD/PR</p>
              <p class="timeframe">2000 <span class="thru">thru</span> 2004</p>
            </span>

            <p class="description">Graduated with honors from Communications department with a Public Relations specialization. Founding member of Liberty's Student Chapter of the American Advertising Federation (AAF). Member of the male step team Alpha Omega (true story).</p>

          </span>

        </li>

      </ul><!--/.experience-->

</div><!--/#background-section-->
