<article class="work-story m2">
  <div class="article-top p2 relative">
    <img src="" alt="" class="article-img">
    <h2 class="story-title m0 absolute">
      <a href="#" class="text-decoration-none text-white">
        A design system for user interactions
      </a>
    </h2>
  </div>
  <div class="article-bottom p2 relative">
    <p class="story-summary mb3 mt0">
      How do you create a framework for thinking about user interactions for a site with dozens of views and hundreds of interactions?
    </p>
    <a
      href="#"
      class="btn regular text-decoration-none inline-block absolute">
      Read more
    </a>
  </div>
</article>
