<article class="work-story m2">
  <div class="article-top p2 relative">
    <img src="" alt="" class="article-img">
    <h2 class="story-title m0 absolute">
      <a href="#" class="text-decoration-none text-white">
        Delighting superfans with fun stuff
      </a>
    </h2>
  </div>
  <div class="article-bottom p2 relative">
    <p class="story-summary mb3 mt0">
      When you're audience is passionate about your brand, you thank them with only the freshest swag.
    </p>
    <a
      href="#"
      class="btn regular text-decoration-none inline-block absolute">
      Read more
    </a>
  </div>
</article>
