/* @group Category Page Styles -------------------- */

body.category {

  .page-header { margin-bottom: 20px;

    .intro-copy { width: auto; }

    h1 { text-transform: capitalize; }

  }

}

/* @end Category Page Styles */