/* @group Layout Styles -------------------- */

/* Page Header */

.page-header {
  background-image: image-url("default-intro-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $blue_l1;
  border-bottom: 15px solid $blue;
  padding: 60px 0;
  color: $white;

  .my-avatar { width: pct( 341, 1284); float: left; }

  .joel-photo {
    display: block;
    margin: 0 auto;
    width: pct( 245, 341);
    max-width: 245px;
    @include border-radius(100%); }

  .intro-copy { width: pct( 525, 1284); float: left; font-weight: 300;

    h1 { font-size: 60px; width: 150%; line-height: 1; margin: 10px 0 45px; font-weight: normal;

      span { font-weight: 900; }

    }

    .description { font-size: 24px; margin-bottom: 0;

      a { font-weight: 700; }

    }

    a { border-bottom: 2px solid rgba(255,255,255,.5); padding:0 5px; margin: 0 -5px; @include border-radius(4px 4px 0 0);

      &:hover { background-color: rgba(0,68,114,.4); }

    }

  }

}


/* Page Footer */

.page-footer { text-align: center; border-top: 1px solid #e8e8e8;

  a { color: $blue; }

}

/* @end Layout Styles */