/* @group Layout Styles -------------------- */

/* Site Nav */

.site-nav {
  position: fixed; z-index: 999;
  top: 16px; right: 16px;
  @include border-radius(4px);
  color: $white;

  .nav-trigger {
    background: $blue;
    @include border-radius(4px);
    padding: 8px;
    display: block;
    text-align: right;
    line-height: 1;

    .menu-icon { display: block; }

  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0 15px 8px;
    text-align: right;
    display: none;

    > li:hover {
      background-color: $blue_l2;
      margin: 0 -15px;
      padding: 0 15px; }

  }

  &:hover { background: $blue;

    .links { display: block; }

    .nav-trigger {

      .menu-icon { display: inline-block; }

    }

  }

}

/* Page Header */

.page-header {
  background-image: image-url("default-intro-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $blue_l1;
  border-bottom: 15px solid $blue;
  padding: 60px 0;
  color: $white;

  .my-avatar { width: pct( 341, 1284); float: left; }

  .joel-photo {
    display: block;
    margin: 0 auto;
    width: pct( 245, 341);
    max-width: 245px;
    @include border-radius(100%); }

  .intro-copy { width: 525px; float: left; font-weight: 300;

    h1 {
      font-size: 60px;
      width: 120%;
      line-height: 1;
      margin: 20px 0 25px;
      font-weight: normal;

      span { font-weight: 900; }

    }

    .description { font-size: 24px; margin: 10px 0 0;

      a { font-weight: 700; }

    }

    a { border-bottom: 2px solid rgba(255,255,255,.5); padding:0 5px; margin: 0 -5px; @include border-radius(4px 4px 0 0);

      &:hover { background-color: rgba(0,68,114,.4); }

    }

  }

}


/* Page Footer */

.page-footer { text-align: center; border-top: 1px solid #e8e8e8;

  a { color: $blue; }

}

/* Utilities */

.wide-left-margin { margin-left: pct( 341, 1284); padding-right: 30px; }

/* WIP Notice */

.wip-notice {
  position: fixed;
  top: 20px; left: 0;
  width: 140px;
  padding: 5px 5px;
  background-color: $blue_l4;
  border-right: 2px solid $blue_l3;
  border-bottom: 2px solid $blue_l3;

  p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    line-height: 1.25;

    a { color: $blue; text-decoration: underline; }

  }

}

/* @end Layout Styles */