/* @group 404 page styles -------------------- */

body.page404 { text-align: center;

  .page-header {
    background-image: image-url("bg-404.jpg");
    background-color: #2e2523;
    background-position: center bottom;
    padding: 35px 0;
    text-align: center;

    .intro-copy { width: pct( 1284, 1284);

      h1 { font-weight: 700; margin: 20px 0 0; width: auto; }

      .subhead {
        font-size: 28px;
        font-family: "Minion Pro", Palatino, Georgia, serif;
        font-style: italic;
        margin: 5px 0 0; }

    }

  }

  .wrap { max-width: 864px; }

  .content {

    h2 { font-size: 30px; }

    p { font-size: 18px; @include serif; }

  }

  .options-list {
    list-style: none;
    margin: 60px 0;
    padding: 0;

    li {
      float: left;
      max-width: 236px;
      margin-left: 78px;

      &:first-child { margin-left: 0; }

    }

    .callout {
      background-color: $blue;
      display: block;
      text-decoration: none;
      color: #fff;
      @include border-radius(400px);
      width: 130px; height: 130px;
      margin: 0 auto;

      &:hover { opacity: .7; }

    }

    .number {
      font-size: 50px;
      font-weight: 300;
      margin: 0;
      line-height: 1;
      padding: 30px 0 0; }

    .title {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 3px; }

    p { font-size: 16px; line-height: 1.2; }

  }

}

/* @end 404 page styles */