/* @group Variables -------------------- */

$white: #fff;
$blue: #0099ff;
$blue_l1: #3fb2ff;   // light blue
$blue_l2: #7fccff;   // lighter blue
$blue_l3: #d3edff;   // lightest blue
$blue_l4: #f3faff;   // REALLY light blue like almost white
$navy: #004472;
$gray_1: #eee;       // super light gray
$gray_2: #c7c7c7;    // light gray
$gray_3: #585858;    // dark gray
$gray_4: #333;       // darkest gray

/* @end Variables */