<!DOCTYPE html>
<html lang="en-us" class="no-js">

{% include head.html %}

<body class="page404">

  <div class="bg-img"></div>

  <div class="page-content">

    {% include site-nav.html %}

    <header>

      <div class="wrap">

        <div class="intro-copy">
          <h1><a href="/">404</a></h1>
          <p class="subhead">Page not found</p>
        </div>

        <p class="intro-right">The sun has set on the page you were in search of.</p>

      </div>

    </header>

    <div class="content">

      <div class="wrap">

    {{ content }}

      </div>

    </div>

  </div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{% include closing-tags.html %}