<!DOCTYPE html>
<html lang="en-us" class="no-js">

{% include head.html %}

<body class="blogpost category">

{% include header/category.html %}

<section class="writing" id="writing">

  {{ content }}

  <div class="wrap">

        <div class="articles">
          <ul class="article-index constrained show">
            {% for post in site.categories[page.title] %}
            <li class="article-item show article-{{post.date | date: "%Y"}}">
              {% if post.external_url %}
              <a href="{{ post.external_url }}" onclick="_gaq.push(['_trackpageview', '{{ post.url }}']);" target="_blank">
                <h3 class="article-title">{{ post.title }} {% include icons/icon-link.html %}</h3>
                <p class="article-date">{{ post.date | date: "%B %e, %Y" }}{% if post.external_site %} • via <span class="external_site">{{ post.external_site }}</span>{% endif %}</p>
                {% if post.excerpt %}
                <p class="article-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html | truncate: 150 }}</p>
                {% endif %}
              </a>
              {% else %}
              {% include readingtime.html %}
              <a href="{{ post.url }}">
                <h3 class="article-title">{{ post.title }}</h3>
                <p class="article-date">{{ post.date | date: "%B %e, %Y" }} • {{ reading_time }} read</p>
                <p class="article-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html | truncate: 150 }}</p>
              </a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>

        {% include categories.html %}

  </div>

</section>

{% include footer.html %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{% include closing-tags.html %}