<section class="home-articles github">
    <header class="section-header text-black">

      <h2 class="section-employer-logo mt0">
        <a href="https://github.com/jglovier" class="section-logo-link">
          {% include home/logo-appendto.html %}
        </a>
        <span class="hidden-accessible">AppendTo</span>
      </h2>

      <div class="section-intro">

        <h3 class="job-title mb0 mt3">Visual Design Engineer, Tech Lead</h3>
        <h4 class="worked-dates mt0">2012 – 2013</h4>

        <div class="copy">
          <p>AppendTo was a JavaScript consultancy founded by and comprised of several original members of the jQuery Foundation where I did primarily front end development work for Bloomberg, TIME, Microsoft, Zumba, and Pearson Education.</p>
        </div>

        <a
          href="https://dribbble.com/jag/projects/540365-GitHub-work"
          class="btn btn-dribbble regular text-decoration-none mt3 inline-block">
          <span
            class="emoji inline-block mr1 relative">&#127936;</span>
            See some of my appendTo work <span class="highlight">on dribbble</span>
        </a>

        <a
          href="#"
          class="btn regular text-decoration-none my3 inline-block">
          <span
            class="emoji inline-block mr1 relative">&#128196;</span>
            Read what I learned from working at appendTo
        </a>

        <p class="read-on mb4">
          <span
            class="emoji inline-block mr1 relative">&#129300;</span>
            Or, read some of the product thinking behind my work…
        </p>

      </div>
    </header>

  <section class="org-writing">
    {% include home/appendto/_story_time_responsive.html %}
  </section>

</section>
