<article class="article m1">
  <a href="{{ article.url }}" class="text-decoration-none">
    <div class="article-top p2 relative">
      <img src="" alt="" class="article-img">
      <h2 class="story-title m0 absolute">
        {{ article.title }}
      </h2>
    </div>
    <div class="article-bottom p2 relative">
      <p class="story-summary mb3 mt0">
        {{ article.summary }}
      </p>
      <p class="inline-block absolute action-indicator m0 text-color">
        Read more
      </p>
    </div>
  </a>
</article>
