<div class="col col-12">
  <article class="article default-shadow">
    <a href="{{ article.url }}" class="text-decoration-none block pb2" target="_blank">
      <img src="{{ article.image }}" alt="article image" class="block img-full-width pb2" />
      <div class="article-top px2 pb1 relative">
        <h2 class="story-title m0 neg-letter-spacing">
          {{ article.title }}
        </h2>
      </div>
      <div class="article-bottom px2 relative">
        <p class="story-summary text-link-color m0">
          Read the case study &rarr;
        </p>
      </div>
    </a>
  </article>
</div>
