<section class="home-articles github">
    <header class="section-header text-black">

      <h2 class="section-employer-logo mt0">
        <a href="https://github.com/jglovier" class="section-logo-link">
          {% include home/logo-github.html %}
        </a>
        <span class="hidden-accessible">GitHub</span>
      </h2>

      <div class="section-intro">
        <h3 class="job-title mb0 mt3">Product Design Lead</h3>
        <h4 class="worked-dates mt0">2013 – Present</h4>

        <div class="copy">
          <p>GitHub is a collaboration platform at the center of the software development industry. I design experiences for the millions of people who use GitHub every day. I've been at GitHub for over 4 years and worked with several departments to help design product solutions.</p>
        </div>

        <a
          href="https://dribbble.com/jag/projects/540365-GitHub-work"
          class="btn btn-dribbble regular text-decoration-none mt3 inline-block">
          <span
            class="emoji inline-block mr1 relative">&#127936;</span>
            See some of my GitHub work <span class="highlight">on dribbble</span>
        </a>

        <!-- still need to write this article
        <a
          href="#"
          class="btn regular text-decoration-none my3 inline-block">
          <span
            class="emoji inline-block mr1 relative">&#128196;</span>
            Read what I’ve learned from working at GitHub
        </a>
        -->

        <p class="read-on mb4">
          <span
            class="emoji inline-block mr1 relative">&#129300;</span>
            Or, read some of the product thinking behind my work…
        </p>

      </div>
    </header>

  <section class="org-writing">
      {% include home/github/_story_core_workflow.html %}
      {% include home/github/_story_superfans_shop.html %}
      {% include home/github/_story_design_systems.html %}
      {% include home/github/_story_user_growth.html %}
  </section>

</section>
