<span class="home-header-graphics">

  <span class="shapes-group-1">
    <span class="circle c1"></span>
    <span class="line l-white l1"></span>
    <span class="box b1"></span>
    <span class="line l-white l2"></span>
    <span class="box b2"></span>
    <span class="line l-white l3"></span>
    <span class="line l-white l4"></span>
    <span class="box b3"></span>
    <span class="line l5"></span>
    <span class="circle c2"></span>
    <span class="line l6"></span>
    <span class="circle c3"></span>
    <span class="line l7"></span>
    <span class="circle c4"></span>
    <span class="line l8"></span>
  </span>

  <span class="shapes-group-2">
    <span class="box b4"></span>
    <span class="line l9"></span>
    <span class="circle c5"></span>
    <span class="line l10"></span>
    <span class="box b5"></span>
  </span>

  <span class="shapes-group-3">
    <span class="line l11"></span>
    <span class="box b6"></span>
    <span class="line l12"></span>
    <span class="circle c6"></span>
    <span class="line l13"></span>
    <span class="circle c7"></span>
    <span class="line l14"></span>
    <span class="box b7"></span>
  </span>

</span>
