<span class="home-header-graphics">

  <span class="shapes-group-1">
    <span class="block absolute circle c1"></span>
    <span class="block absolute line l-white l1"></span>
    <span class="block absolute box b1"></span>
    <span class="block absolute line l-white l2"></span>
    <span class="block absolute box b2"></span>
    <span class="block absolute line l-white l3"></span>
    <span class="block absolute line l-white l4"></span>
    <span class="block absolute box b3"></span>
    <span class="block absolute line l5"></span>
    <span class="block absolute circle c2"></span>
    <span class="block absolute line l6"></span>
    <span class="block absolute circle c3"></span>
    <span class="block absolute line l7"></span>
    <span class="block absolute circle c4"></span>
  </span>

  <span class="shapes-group-2">
    <span class="block absolute box b4"></span>
    <span class="block absolute line l9"></span>
    <span class="block absolute circle c5"></span>
    <span class="block absolute line l10"></span>
    <span class="block absolute box b5"></span>
  </span>

  <span class="shapes-group-3">
    <span class="block absolute line l11"></span>
    <span class="block absolute box b6"></span>
    <span class="block absolute line l12"></span>
    <span class="block absolute circle c6"></span>
    <span class="block absolute line l13"></span>
    <span class="block absolute circle c7"></span>
    <span class="block absolute line l14"></span>
    <span class="block absolute box b7"></span>
  </span>

</span>
