<section class="section section-intro overflow-hidden relative text-black" id="intro">
  <div class="full-width-wrap">

    <h2 class="headline section-headline left-align">
      Hi there!
      <span class="waving inline-block">
        {% include icons/emoji-waving.html %}
      </span>
    </h2>

    <div class="intro-copy mb4">
      <p class="description">
        I’m Joel, and I create software products. I use design thinking to solve business problems through software based solutions.
      </p>

      <p class="description">
        I work at <a href="https://github.com/jglovier">GitHub</a> where I do product design and strategy for core product workflow. I also lead design for the open source project <a href="http://hospitalrun.io">HospitalRun</a>, <a href="/#writing">write</a> occassionally, and <a href="https://speakerdeck.com/jglovier">speak</a> sometimes.
      </p>

      <p class="description">
        <a href="https://github.com/jglovier/ama" class="btn regular text-decoration-none inline-block mt2 mr3" target="_blank">
          Ask me anything
        </a>
        ...or, keep reading!
        <span class="floating inline-block ml2">
          <span class="downward-arrow inline-block"></span>
        </span>
      </p>


    </div>

  </div>
</section>
