<section class="max-width-4 mx-auto clearfix section-intro" id="intro">
    <div class="intro-copy col col-6 mt4">

      {% include site-nav.html %}


      <h2 class="headline mt4 mb3">
        I design tools for people.
      </h2>
      <p class="description">
        I use imagination, writing, drawing, design thinking, and technology to solve business problems with software solutions. I’ve been designing, making, and selling products since 2004.
      </p>
      <p class="description">
        I work at <a href="https://github.com/jglovier">GitHub</a> where I design and build developer workflows. I also maintain <a href="http://hospitalrun.io">HospitalRun</a> and other <a href="">open source projects</a>.
      </p>

      {% include social-icons.html %}

      <!--<span class="floating inline-block leading-indicator mt4">
        <span class="downward-arrow inline-block"></span>
      </span>-->
    </div>

    <div class="col col-6">
      <img alt="illustration portraying me juggling user experience, technology, and business goals" src="/img/intro.png" class="img-full-width right" width="480" />
    </div>

</section>

<section class="max-width-4 mx-auto clearfix section-intro pb2 mb4">
  <div class="col col-5 mr3 pt4">
    <img alt="Research, strategy, prototyping, design, code" src="/img/what-i-do.png" class="img-full-width block ml3" />
  </div>
  <div class="col col-2 pt0"></div>
  <div class="col col-4 pt3">
    <h2 class="headline mt4 pt2">
      What I do
    </h2>
    <p class="description">
      I have experience with design thinking, product definition and strategy, user research, application and feature prototyping, UI & UX design, and authoring front-end code.
    </p>
  </div>
</section>

<section class="max-width-4 mx-auto clearfix section-intro mb4 pb4 mt2">
  <div class="col col-4 mt4 pt3">
    <h2 class="headline mt2">
      How I work
    </h2>
    <p class="description">
      Building effective products starts with identifying and understanding the problem, exploring solutions, testing, gathering feedback, making tweaks, shipping to real people, and measuring results.
    </p>
    <!--<p class="description">
      <a href="#">My process</a> | <a href="#">The tools I use</a>
    </p>-->
  </div>

  <div class="col col-1"></div>

  <div class="col col-7 pdc-graphic">
    <ol class="pdc-steps py4 px0 relative">
      <li class="inline-block center absolute pdc-step-item first">
        <p>Understand <br>the problem</p>
      </li>
      <li class="inline-block center absolute pdc-step-item second">
        <p>Explore <br>solutions</p>
      </li>
      <li class="inline-block center absolute pdc-step-item third">
        <p>Test, gather <br>feedback, iterate</p>
      </li>
      <li class="inline-block center absolute pdc-step-item fourth">
        <p>Ship to <br>real people</p>
      </li>
      <li class="inline-block center absolute pdc-step-item fifth">
        <p>Measure the <br>results & iterate</p>
      </li>
    </ol>
  </div>

</section>
