<section class="row section-intro*" id="intro">
    <div class="intro-copy column col-six mt4">

      <div class="site-header row mb3">
        <h1 class="site-title mt0 mb1">
          <span class="my-name">Joel Glovier</span>
          <span class="statement regular">is a product designer at GitHub.</span>
        </h1>

        <nav class="site-nav text-rounded">
          <a class="inline-block mr2" href="#intro">Intro</a>
          <a class="inline-block mr2" href="#">Process</a>
          <a class="inline-block mr2" href="#">Principles</a>
          <a class="inline-block mr2" href="#work">Work</a>
          <a class="inline-block mr2" href="#projects">Projects</a>
          <a class="inline-block mr2" href="/about/">About</a>
          <a class="inline-block" href="#writing">Writing</a>
        </nav>
      </div>


      <h2 class="headline pt3">
        I design software for people to use.
      </h2>
      <p class="description">
        I’ve been designing, making, and selling products since 2004. I use writing, drawing, and design thinking to solve business problems with software based solutions.
      </p>
      <p class="description">
        I work at <a href="https://github.com/jglovier">GitHub</a> where I do product design and strategy. I also maintain <a href="http://hospitalrun.io">HospitalRun</a> and other <a href="">open source projects</a>, and <a href="http://devtees.com">sell stuff</a> on the internets.
      </p>
      <p class="description">
        <a href="mailto:jglovier@gmail.com">Email me</a>
        <span class="inline-block mx1">|</span>
        <a href="https://www.quora.com/profile/Joel-Glovier">Ask me something on Quora</a>
      </p>
      <div class="pt2">
        <a href="http://github.com/jglovier" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-github.html %}</a>
        <a href="http://twitter.com/jglovier" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-twitter.html %}</a>
        <a href="http://dribbble.com/jag" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-dribbble.html %}</a>
        <a href="#" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-linkedin.html %}</a>
        <a href="#" class="icon-link inline-block text-decoration-none" target="_blank">{% include icons/icon-quora.html %}</a>
      </div>

      <span class="floating inline-block leading-indicator mt4">
        <span class="downward-arrow inline-block"></span>
      </span>

    </div>

    <div class="column col-six">
      <img alt="illustration portraying me juggling user experience, technology, and business goals" src="/img/intro.png" class="intro-illustration right" width="480" />
    </div>

</section>

<section class="row section-intro pb4">
  <div class="column col-five">
    <h2 class="headline">
      How I work
    </h2>
    <p class="description">
      Building effective products starts with identifying and understanding the problem, exploring solutions, testing, gathering feedback, making tweaks, shipping to real people, and measuring results.
    </p>
    <!--<p class="description">
      <a href="#">My process</a> | <a href="#">The tools I use</a>
    </p>-->
  </div>

  <div class="column col-seven"></div>

  <div class="column col-twelve">
    <img alt="illustration of my design process" src="/img/how-i-work.png" class="intro-illustration how-i-work" />
  </div>
</section>

<!--
<section class="row section-intro">
  <div class="column col-four">
    <h2 class="headline">
      What I do
    </h2>
    <p class="description">
      For most of my career I’ve worked as a multi-disciplinary designer, responsible for product strategy (product definition and requirements), user research, low and high fidelity design comps, HTML and CSS prototyping, and backend development (Ruby, PHP).
    </p>
  </div>

  <div class="column col-eight">
    <img alt="illustration of me working in the lab" src="" class="intro-illustration" />
  </div>
</section>
-->
