<section class="max-width-4 mx-auto clearfix mb4" id="projects">

  <div class="col col-12 mb3">
    <h2 class="headline mt0 mb3">
      <span class="pr2 inline-block">Personal projects</span>
    </h2>
  </div>

  {% for project in site.data.projects %}
    <section class="mt4 clearfix">

        <header class="section-header col col-6 mt4">
          <div class="section-intro">
            <h2 class="work-project m0">
              <a href="{{ project.url }}" class="text-decoration-none" target="_blank">
                {{ project.name }}
              </a>
            </h2>
            <h3 class="work-title m0">
              {{ project.role }}
              <span class="worked-dates regular text-rounded">
                • {{ project.timeframe }}
              </span>
            </h3>

            <div class="text-small mt2 pr4">
              <p>{{ project.summary }}</p>
            </div>
          </div>
        </header>

      <section class="clearfix col col-6">
        <img alt="{{ project.name }} screenshot" src="{{ project.project_image }}" width="600" class="img-full-width img-screenshot" />
      </section>

    </section>
  {% endfor %}

</section>
