<section class="max-width-4 mx-auto clearfix mb4" id="projects">

  <div class="col col-12 pb3 m-pb0">
    <h2 class="section-heading mt0 mb3 m-mb0">
      Personal projects
    </h2>
  </div>

  <div class="col col-12 projects-illustration">
    <img src="/img/projects-illustration.png" class="img-full-width" alt="an illustration of me digging with a shovel" width="348" />
  </div>

  {% for project in site.data.projects %}
  <div class="col col-6 card-project-wrap {% cycle 'card-project-left', 'card-project-right' %}">
    <div class="card card-project mt4 clearfix mx-auto">

      <a href="{{ project.url }}" class="text-decoration-none block" target="_blank">
        
        <div class="default-shadow project-image">
          <img alt="{{ project.name }} screenshot" src="{{ project.project_image }}" width="336" class="img-full-width block" />
        </div>

        <div class="p3">
          <h2 class="neg-letter-spacing mt1 mb-sm project-name">{{ project.name }}</h2>
          <h3 class="text-default text-color-navy-light m0">
            {{ project.role }}
            <span class="worked-dates regular text-rounded m-block">
              <span class="m-hide text-small"> • </span><span class="text-small">{{ project.timeframe }}</span>
            </span>
          </h3>

          <div class="text-small mt2 pt1">
            <p class="m0">{{ project.summary }}</p>
          </div>

          {% if project.stars or project.forks or project.downloads or project.contributors %}
          <div class="text-small mt2 pt1 text-rounded">

            {% if project.stars %}
              <span class="mr2 pr1 inline-block">
                {% include icons/icon-stars.html %}
                <span class="card-project-integer inline-block">{{ project.stars }}</span>
              </span>
            {% endif %}

            {% if project.forks %}
              <span class="mr2 pr1 inline-block">
                {% include icons/icon-forks.html %}
                <span class="card-project-integer inline-block">{{ project.forks }}</span>
              </span>
            {% endif %}

            {% if project.downloads %}
              <span class="mr2 pr1 inline-block">
                {% include icons/icon-downloads.html %}
                <span class="card-project-integer inline-block">{{ project.downloads }}</span>
              </span>
            {% endif %}

            {% if project.contributors %}
              <span class="mr2 pr1 inline-block">
                {% include icons/icon-contributors.html %}
                <span class="card-project-integer inline-block">{{ project.contributors }}</span>
              </span>
            {% endif %}

          </div>
          {% endif %}

        </div>

      </a>

    </div>
  </div>
  {% endfor %}

</section>
