<section class="max-width-4 mx-auto clearfix mb4" id="projects">

  <div class="col col-12 pb3 m-pb0">
    <h2 class="section-heading mt0 mb3 m-mb0">
      Personal projects
    </h2>
  </div>

  {% for project in site.data.projects %}
  <div class="col col-6 card-project-wrap {% cycle 'card-project-left', 'card-project-right' %}">
    <div class="card card-project mt4 clearfix mx-auto">

      <a href="{{ project.url }}" class="text-decoration-none block" target="_blank">
        <img alt="{{ project.name }} screenshot" src="{{ project.project_image }}" width="336" class="img-full-width block" />
      </a>

      <div class="p3">
        <h2 class="neg-letter-spacing my1">
          <a href="{{ project.url }}" class="text-decoration-none" target="_blank">
            {{ project.name }}
          </a>
        </h2>
        <h3 class="work-subhead m0">
          {{ project.role }}
          <span class="worked-dates regular text-rounded m-block">
            <span class="m-hide"> • </span>{{ project.timeframe }}
          </span>
        </h3>

        <div class="text-small mt2 pt1">
          <p class="m0">{{ project.summary }}</p>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}

</section>
