<section class="max-width-4 mx-auto clearfix mb4" id="quotes">

  <div class="col col-12 pb4">
    <h2 class="section-headline mt0 mb3">
      <span class="bg-mask pr2 inline-block">What colleagues say</span>
    </h2>
  </div>

{% for quote in site.data.quotes %}
  <div class="col col-12 flex flex-wrap {% cycle '', 'flex-row-reverse' %}">
      <div class="col col-6 pb2 quote-item relative">
        <div class="col col-2">
          <a href="{{ quote.url }}"><img src="{{ quote.image }}" alt="Profile photo of {{ quote.name }}" class="img-full-width img-circle default-shadow" /></a>
        </div>
        <div class="col col-10">
          <p class="mb2 mt0 neg-text-indent">{{ quote.quote }}</p>
          <h3 class="text-large m0"><a href="{{ quote.url }}" class="text-black">{{ quote.name }}</a></h3>
          <p class="m0 text-sm-subtext">{{ quote.title }}</p>
        </div>
      </div>
  </div>
{% endfor %}

</section>
