<section class="row pb4 mb4" id="work">

  <div class="column col-twelve mb3">
    <h2 class="section-headline mt0 mb3">
      <span class="bg-mask pr2 inline-block">Where I've worked</span>
    </h2>
  </div>

  {% for employer in site.data.employers %}
    <section class="mt4 clearfix">

        <header class="section-header column col-six">
          <div class="section-intro">
            <h2 class="work-employer m0">
              <a href="{{ employer.url }}" class="text-decoration-none" target="_blank">
                {{ employer.name }}
              </a>
            </h2>
            <h3 class="work-title m0">
              {{ employer.role }}
              <span class="worked-dates regular">
                • {{ employer.timeframe }}
              </span>
            </h3>
            {% if employer.role_2 %}
            <h3 class="work-title m0">
              {{ employer.role_2 }}
              <span class="worked-dates regular">
                • {{ employer.timeframe_2 }}
              </span>
            </h3>
            {% endif %}

            <div class="copy mt2 pr4">
              <p>{{ employer.summary }}</p>
            </div>

<!-- don't need this right now b/c most articles aren't setup yet
            <ul class="work-links py0 my2 pl0">
              {% if employer.has_case_studies != false %}
              <li class="py1">
                <p class="m0">
                  <span
                    class="emoji inline-block mr1 relative">&#128196;</span>
                    Or, read a case study from my work <span class="emoji inline-block mr1 relative">&#128073;</span>
                </p>
              </li>
              {% endif %}
              <li class="py1">
                <p class="m0">
                  <span class="emoji inline-block mr1 relative">&#128064;</span>
                  See some of my {{ employer.name }} work <a href="{{ employer.dribbble }}" target="_blank">on dribbble</a>
                </p>
              </li>
-->
<!--
              <li class="py1">
                <p class="m0">
                  <span class="emoji inline-block mr1 relative">&#128196;</span>
                  Read what I learned from <a href="{{ employer.learned }}">working at {{ employer.name }}</a>
                </p>
              </li>
-->
<!--
            </ul>
-->

          </div>
        </header>

      <section class="{% if employer.articles_layout %}{{ employer.articles_layout }}{% endif %} clearfix column col-six">
        {% for article in employer.articles_list %}
          {% if employer.articles_layout == "l_1_up" %}
            {% include home/articles-1-up.html %}
          {% else %}
            {% include home/articles.html %}
          {% endif %}
        {% endfor %}
      </section>

    </section>
  {% endfor %}

</section>
