<section class="max-width-4 mx-auto clearfix pb4 mb4" id="work">

  <div class="col col-12 pb4">
    <h2 class="section-heading mt0 mb3 text-color-secondary">
      Where I've worked
    </h2>
  </div>

<!-- version with illustration instead
  <img src="/img/section-heading-work.png" alt="Where I've worked" class="section-heading-image flying-ball" width="340">
-->

  {% for employer in site.data.employers %}
    <section class="mt4 clearfix home-articles my4 py2">

        <header class="section-header col col-6 pt4">
          <div class="section-intro">
            <h2 class="work-title m0">
              <a href="{{ employer.url }}" class="text-decoration-none" target="_blank">
                {{ employer.name }}
              </a>
            </h2>
            <h3 class="work-subhead m0">
              {{ employer.role }}
              <span class="worked-dates regular text-rounded">
                • {{ employer.timeframe }}
              </span>
            </h3>
            {% if employer.role_2 %}
            <h3 class="work-subhead m0">
              {{ employer.role_2 }}
              <span class="worked-dates regular text-rounded">
                • {{ employer.timeframe_2 }}
              </span>
            </h3>
            {% endif %}

            <div class="text-small mt2 pr4">
              <p>{{ employer.summary }}</p>
            </div>

<!-- don't need this right now b/c most articles aren't setup yet
            <ul class="work-links py0 my2 pl0">
              {% if employer.has_case_studies != false %}
              <li class="py1">
                <p class="m0">
                  <span
                    class="emoji inline-block mr1 relative">&#128196;</span>
                    Or, read a case study from my work <span class="emoji inline-block mr1 relative">&#128073;</span>
                </p>
              </li>
              {% endif %}
              <li class="py1">
                <p class="m0">
                  <span class="emoji inline-block mr1 relative">&#128064;</span>
                  See some of my {{ employer.name }} work <a href="{{ employer.dribbble }}" target="_blank">on dribbble</a>
                </p>
              </li>
-->
<!--
              <li class="py1">
                <p class="m0">
                  <span class="emoji inline-block mr1 relative">&#128196;</span>
                  Read what I learned from <a href="{{ employer.learned }}">working at {{ employer.name }}</a>
                </p>
              </li>
-->
<!--
            </ul>
-->

          </div>
        </header>

      {% if employer.has_case_studies == false %}

        <section class="clearfix col col-6">
          <img class="img-full-width" alt="{{ employer.image_alt }}" src="{{ employer.image }}" />
        </section>

      {% else %}

      <section class="{% if employer.articles_layout %}{{ employer.articles_layout }}{% endif %} clearfix col col-6">
        {% for article in employer.articles_list %}
          {% if employer.articles_layout == "l_1_up" %}
            {% include home/articles-1-up.html %}
          {% else %}
            {% include home/articles.html %}
          {% endif %}
        {% endfor %}
      </section>

      {% endif %}

    </section>
  {% endfor %}

</section>
