<section class="section section-work relative text-black" id="work">
  <div class="full-width-wrap">

    <h2 class="section-headline left-align caps">
      <span class="border-mask">Work</span>
    </h2>

    {% for employer in site.data.employers %}
      <section class="home-articles mt4">
          <header class="section-header text-black">

            <div class="section-intro">
              <h2 class="work-employer m0 mb2">
                <a href="{{ employer.url }}" class="text-decoration-none" target="_blank">
                  {{ employer.name }}
                </a>
              </h2>
              <h3 class="work-title m0">{{ employer.role }}</h3>
              <h4 class="worked-dates mt0 regular">{{ employer.timeframe }}</h4>

              <div class="copy">
                <p>{{ employer.summary }}</p>
              </div>

              <ul class="work-links py0 my3 pl0">
                <li class="py1">
                  <p class="m0">
                    <span class="emoji inline-block mr1 relative">&#128064;</span>
                    See some of my {{ employer.name }} work <a href="{{ employer.dribbble }}" target="_blank">on dribbble</a>
                  </p>
                </li>
                <li class="py1">
                  <p class="m0">
                    <span class="emoji inline-block mr1 relative">&#128196;</span>
                    Read what I learned from <a href="{{ employer.learned }}">working at {{ employer.name }}</a>
                  </p>
                </li>
                <li class="py1">
                  <p class="m0">
                    <span
                      class="emoji inline-block mr1 relative">&#129300;</span>
                      Or, read a case study from my work…
                  </p>
                </li>
              </ul>

            </div>
          </header>

        <section class="org-writing {{ employer.articles_layout }} clearfix">
          {% for article in employer.articles_list %}
            {% include home/articles.html %}
          {% endfor %}
        </section>

      </section>
    {% endfor %}

  </div>
</section>
